
html {
    background-image: linear-gradient(#facd9d , #ffa024, #ec5b13,#cb4101, #ae2012 );

}


h1 {

    font-family: Sacramento;
    color: #EC5B13;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 1.3rem;
    text-shadow: 2px 1px 1px #5b1d00;
}
h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-shadow: 2px 1px 1px rgb(99, 49, 14);
}
h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    text-shadow: 2px 1px 1px rgb(99, 49, 14);
}

figure {
    display:inline-flex;
    border: .75px inset #FF7E05;
    border-radius: 3px;


}

a:hover {
    opacity: .70;
}


.food-pic {
    width: auto;
    height: 10rem;
    margin: .50rem;
    display: inline-flex;
    box-shadow: 7px 5px 10px #7A1D00;
}

#breakfast {
    display:flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    margin-top: -2.5rem;
}

#lunch {
    display:flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 3rem;
    margin-top: -5.5rem;
}

#dinner {
    display:flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 3rem;
    margin-top: -5.5rem;
}

figcaption {
    height:10rem;
    width:6.8rem;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    padding-top: 10.2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight:bold;
    color: #7A1D00; /*former color was #CB4101 */

}


a[href*='category'] {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .9rem;

}

.next {
    border-radius: 3px;
    border: 1px outset #CB4101;
    height: 10.1rem;
    width: 6.7rem;
    display:inline-block;
    margin-top: 8px;
    margin-left: .50rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:italic;
    font-size: 1rem;
    color: #bc3c00;
    text-shadow: .5px .25px 1.5px #000000;
    background-color: #ff8e16;
    box-shadow: 5px 5px 10px #7A1D00;
}

#banner {
    overflow: hidden;
    position: relative;

}

#banner figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#banner figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%
    }
}

.tips {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: space-around;
    margin: auto;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: space-around;
    margin: auto;
}
.contact input, textarea {
    background: LightGrey;
    border: 1px solid red;
    border-radius: 3px;
    color: rgb(248, 143, 6);
    display: inline-block;
    padding: 5px;
    text-decoration: none;
}
.food-pic2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: space-around;
    margin: auto;
    max-width: 30rem;
    max-height: 30rem;
}
/*KeeKee's CSS*/

.topnav-centered {
  background-color: saddlebrown;
  overflow: hidden;
  justify-content: space-evenly;
  width:auto;
  margin: 0 auto;
  position:relative;
  border: 2px dotted black;
}

.topnav-centered a {
  float: none;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*
.dropdown {
  float:left;
  overflow: hidden;
  position:relative;
  display: inline-block;
}

 .dropbtn {

  position: absolute;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
background-color: whitesmoke;
}
*/

#featured {
    display:flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 3rem;
    margin-top: -5.5rem;
}
.about {
    text-align: center;
    padding: 10px 50px;
}

footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 3px 3px;
}

footer p{
    position: absolute;
    color:black;
    width: 100%;

}
.share {
    padding: 0px 0px 10px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
  }

  .share a {
    background: LightGrey;
    border: 1px solid red;
    border-radius: 3px;
    color: rgb(248, 143, 6);
    display: inline-block;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
  }

  .share a:hover {
    background: white;
    border: 1px solid rgb(209, 85, 2);
    color: rgb(7, 0, 6);
  }
