
html {
    background-image: linear-gradient(#facd9d , #ff9e36)
}
 
 
h1 {
   
    font-family: Sacramento;
    color: #EC5B13;
    text-align: center;
    font-size: 5rem;
    letter-spacing: 1.3rem;
    text-shadow: 2px 1px 2px #5b1d00;
}
figure {
    display:inline-flex;
    border: .75px inset #FF7E05;
    border-radius: 3px;
   
   
}
 
a:hover {
    opacity: .70;
}
 
 
.food-pic {
    width: auto;
    height: 10rem;
    margin: .50rem;
    display: inline-flex;
       
}
 
#breakfast {
    display:flex;
    justify-content: center;
    align-items: stretch;
    overflow: hidden;
    margin-top: -2.5rem;
}
 
#lunch {
    display:flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 3rem;
    margin-top: -5.5rem;
}
 
#dinner {
    display:flex;
    justify-content: center;
    align-items: stretch;
    padding-top: 3rem;
    margin-top: -5.5rem;
}
 
figcaption {
    height:10rem;
    width:6.8rem;
    font-size: 1rem;
    position: absolute;
    text-align: center;
    padding-top: 10rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    color: #CB4101;
 
}
 
a[href*='category'] {
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .9rem;
 
}
 
button {
    border-radius: 3px;
    border: 1px outset #CB4101;
    height: 10.1rem;
    width: 6.7rem;
    display:inline-block;
    margin-top: 8px;
    margin-left: .50rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:italic;
    font-size: 1rem;
    color: #bc3c00;
    text-shadow: .5px .25px 1.5px #000000;
    background-color: #ffa647;
}

#banner {
    overflow: hidden;
    position: relative;
}

#banner figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
#banner figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%
    }
}

.tips {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: space-around;
    margin: auto;
}

.tips img {
    border-style: solid;
    border-width: 5px;
}
.contact {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: space-around;
    margin: auto;
}


.food-pic2 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: space-around;
    margin: auto;
    max-width: 30rem;
    max-height: 30rem;
}
